body, html{
    margin: 0;
    font-family: sans-serif;
    justify-content: center;
}

.box1{
    height: 100px;
    width: 100%;
    background-color: #173f7d;
    color: white;
    align-items: center;
    margin: 0;
}

.box2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
select{
    border: none;
}

button{
    text-decoration: none;
    border: none;
    background-color: #173f7d;
    height: 30px;
    width: 90px;
    border-radius: 4px;
}

button a{
    text-decoration: none;
    color: ivory;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type=text]{
    background-color: white;
    color: black;
    border-radius: 4px;
    border: navy 1px solid;
    padding: 5px;
    height: 15px;
    width: 15vw;
    height: 1rem;
}

button:hover{
    background-color: navy;
    cursor: pointer;
}